:root{
  background-image: url("./assets/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  font-family: CasionAntique;
}

@font-face {
  font-family: CasionAntique;
  src: url("./assets/fonts/CaslonAntique.ttf");
}

body{
  width: 100%;
  padding: 0px;
  margin: 0px;
}

.menu{
  width: 25%;
  height: 100vh;
  background-color: rgb(97, 97, 97);
  padding: 15px;
  box-sizing: border-box;
}
.menu h1{
  text-align: center;
  font-size: 3.5em;
  font-weight: lighter;
  margin: 0px;
}

.menu p{
  color: white;
}
.menu br{
  margin-bottom: 5px;
}

.title-img{
  width: 100%;
}

.randomiser-form h2{
  margin-bottom: 0px;
}

.randomiser-form select{
  width: 100%;
  padding: 10px;
}

.randomiser-form button{
  background-color: rgb(137, 13, 13);
  margin-top: 10px;
  width: 100%;
  padding: 12px;
  font-size: 1.5em;
  border: 3px solid;
}