:root{
  background-image: url("./assets/background.jpg");
  background-color: grey;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: CasionAntique;
}

@font-face {
  font-family: CasionAntique;
  src: url("./assets/fonts/CaslonAntique.ttf");
}

body{
  width: 100%;
  padding: 0px;
  margin: 0px;
  display: flex;
}

.menu{
  width: 30%;
  height: 100vh;
  background-color: rgb(97, 97, 97);
  padding: 15px;
  box-sizing: border-box;
}
.menu h1{
  text-align: center;
  font-size: 3em;
  font-weight: lighter;
  margin: 0px;
}

.menu p{
  color: white;
}
.menu br{
  margin-bottom: 5px;
}

.title-img{
  width: 100%;
}

.randomiser-form h2{
  margin-bottom: 0px;
}

.randomiser-form select{
  width: 100%;
  padding: 10px;
}

.randomiser-form button{
  background-color: rgb(137, 13, 13);
  margin-top: 10px;
  width: 100%;
  padding: 12px;
  font-size: 1.5em;
  border: 3px solid;
}

.loadout{
  margin-left:auto;
  margin-right: auto;
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content:space-between;
  align-content:baseline;
  width: 40%;
  row-gap: 10px;
  max-height: 100vh;
}
.loadout div, .loadout h1, .loadout h2{
  width: 100%;
  background-color: rgba(97, 97, 97,0.9);
  padding: 10px;
  height: fit-content;
  box-sizing: border-box;
  text-align: center;
  margin: 0px;
}
.loadout h1{
  text-align: center;
}
.loadout h2{width: 48%;}

.talents h1{margin: 0px;}
.talents div{
  background-color: rgb(193, 193, 19);
  border-top: 2px solid;
  font-size: 1.3em;
}

@media only screen and (max-width:800px){
  .menu h1{font-size: 2em;}
  .loadout{width: 60%;}
}

@media only screen and (max-width:650px){
  .menu{
    width: 100%;
    border-right: 2px solid;}
  .loadout{
    width: 100%;
    margin: 0px;
    justify-content:stretch;
  }
  .loadout h2{width: 100%;}
}